.car-container {
  height: 335px;
}

.left {
  right: auto;
  left: 0;
}
.right {
  left: auto;
  right: 0;
}

.wrapper {
  height: 330px;
  width: 420px;
  border-bottom: 8px solid #4ca653;
  overflow: hidden;
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.car {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  width: 60%;
  overflow: hidden;
  top: auto;
  right: auto;
  left: 10%;
  z-index: 1;
}

.car .car-body {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 85%;
  width: 100%;
  bottom: auto;
  z-index: 2;
  animation: car 0.75s infinite;
  -webkit-animation: car 0.75s infinite;
}

.car .wheels {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  height: 15%;
  width: 80%;
  top: auto;
  z-index: 1;
  margin-left: 22px;
}

.car .wheels .wheel {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 20%;
  background: #333;
  top: auto;
  border-radius: 0 0 30% 30%;
}

.car .mirrors {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  height: 15%;
  width: 100%;
  bottom: auto;
  top: 40%;
}

.car .mirrors .mirror {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 10%;
  background: #333;
  top: auto;
  border-radius: 30%;
}

.car .car-body .part-one {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  width: 72%;
  bottom: auto;
  border: 10px solid #d63a3f;
  border-radius: 50% 50% 0 0;
  overflow: hidden;
}

.car .car-body .part-two {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  width: 100%;
  top: auto;
  background: #d63a3f;
  border-radius: 40px 40px 20px 20px;
}

.car-body .part-one .drivmirror {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  width: 25%;
  bottom: auto;
  top: 1px;
  background: #ddd;
  border-radius: 25%;
}

.car-body .part-one .helm {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 40px;
  top: auto;
  bottom: -35px;
  border: 8px solid #333;
  border-radius: 50%;
  left: auto;
  right: 18%;
}

.cat {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  /* top: 0; bottom: 0; left: 0; right:0; */
  background: #73635d;
  height: 60%;
  top: auto;
  bottom: 0;
  width: 65px;
  z-index: 0;
  left: auto;
  right: 25px;
}

.cat:before,
.cat:after {
  width: 0;
  height: 0;
  top: -10px;
  position: absolute;
  content: "";
}

.cat:before {
  border-left: 0px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #73635d;
  left: 0;
}

.cat:after {
  border-right: 0px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #73635d;
  right: 0;
}

.cat .eyes {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  /* top: 0; left: 0; right:0; */
  position: absolute;
  height: 8px;
  width: 8px;
  background: #fff;
  border-radius: 100%;
  top: 15px;
}

.cat .eyes.left {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  left: 12px;
}
.cat .eyes.right {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  right: 12px;
}

.cat .mouth {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  position: absolute;
  height: 4px;
  width: 60%;
  background: #eee;
  border-radius: 0 0 30% 30%;
  top: 28px;
  margin: auto;
  left: 0;
  right: 0;
}

.car:hover .cat .mouth {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  top: 26px;
}

.car-body .part-two .lights {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  width: 80%;
}

.part-two .lights .light {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 15%;
  background: #fff;
  border-radius: 50%;
}

.part-two .lights.second {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  height: 8px;
  width: 80%;
  top: auto;
  bottom: 10%;
}

.part-two .lights.second .light {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  border-radius: 25%;
}

.sun {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  top: auto;
  bottom: -150px;
  border-radius: 50%;
  z-index: 0;
}

@keyframes car {
  0% {
    top: 0;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 0;
  }
  75% {
    top: 5px;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes car /*Safari and Chrome*/ {
  0% {
    top: 0;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 0;
  }
  75% {
    top: 5px;
  }
  100% {
    top: 0;
  }
}
