/* body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #212121;
} */

.masonry {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
	grid-auto-rows: 30px;
	gap: 5px;
	width: 100%;
	grid-auto-flow: dense;
    max-height: 200px;
}

.brick {
	background: #b7410e;
	border-radius: 4px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	transition: transform 0.2s ease-in-out;
}

.brick.tall {
	grid-row: span 2;
}

.brick.wide {
	grid-column: span 2;
}

.brick:hover {
	transform: scale(1.03);
}
